<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moretime2023.rougelike" version="2.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>拼图游戏</name>
    <description>一款单机拼图游戏</description>
    <author email="moretime_2023@163.com" href="moretime_2023@163.com">moretime_2023@163.com</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />

    <platform name="android">
        <hook type="after_prepare" src="res/scripts/android_splash_inset.js" />
        <preference name="AndroidWindowSplashScreenBackground" value="#101010" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/logo.png" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="400" />
        <preference name="SplashScreenDelay" value="1500" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="500" />
    </platform>
</widget>
